TG_API_ID=
TG_API_HASH=
TG_SESSION_STRING=
TG_GROUP_NAME=
OLLAMA_MODEL=
LLM_NAME=
OPENAI_MODEL=
BASE_OLLAMA_URL=
OPENAI_API_KEY=
MONGODB_USER=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_URI=
MONGODB_PROTOCOL=
MONGODB_NAME=